################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eComSolution/dbProject/obj/Debug
/eComSolution/webapi/bin/Debug/netcoreapp2.1
/eComSolution/webapi/obj
