<h2>Your order summary</h2>
<br />
<div *ngIf="flashMessage">
  <span class="alert alert-info">{{flashMessage}}</span>
</div>

<div *ngIf="!orderCreated">
  <div class="row">
    <div class="col-md-8">
      <table class='table'>
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Total Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of newOrder.items ">
            <td>{{ item.productName }}</td>
            <td>{{ item.price }}</td>
          </tr>
          <tr>
            <td style="text-align:right">
              Item Price:
            </td>
            <td>
              {{newOrder.totalPrice}}
            </td>
          </tr>
          <tr>
            <td style="text-align:right;">
              Delivery charges:
            </td>
            <td>
              {{newOrder.deliveryCost}}
            </td>
          </tr>
          <tr>
            <td style="text-align:right">
              Total amount to be paid:
            </td>
            <td>
              {{newOrder.totalPrice + newOrder.deliveryCost}}
            </td>
          </tr>
        </tbody>
      </table>
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <button class="btn btn-primary" (click)="placeOrder()">Place Order</button>
    </div>
  </div>
</div>

<div *ngIf="orderCreated">
  <br />
  <p>Your order has been submitted successfully in the system. Below are the order details.</p>
  {{newOrder.orderNumber}}
</div>

