<div>
  <h1>Home</h1>
</div>

<div class="card-container">
  <a class="panel panel-info" routerLink="/products">
    <span class="panel-heading">Product Search</span>
  </a>
  <p>
    You can search for the available products here.
  </p>
  <a class="panel panel-info" routerLink="/cart">
    <span class="panel-heading">Add to cart</span>
  </a>
  <p>
    You can add products to your shopping cart and checkout the order. 
  </p>
  <a class="panel panel-info" routerLink="/orders-list">
    <span>Orders</span>
  </a>
  <p>
    You can manager your orders here.
  </p>
</div>
