<div>
  <h1>Home</h1>
</div>

<div class="card-container">
  <a class="panel panel-info" rel="noopener" href="products">
    <span class="panel-heading">Product Search</span>
  </a>
  <p>
    You can search for the available products here
  </p>
  <a class="panel panel-info" rel="noopener" href="cart">
    <span class="panel-heading">Add to cart</span>
  </a>
  <p>
    You can add products to your shopping cart
  </p>
  <a class="panel panel-info" rel="noopener" href="">
    <span>Order</span>
  </a>
  <p>
    You can checkout and manager your orders here
  </p>
</div>
